/* First three containers */
body{
	background: #262626;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px 0;
	color: #00ff00;
	text-align: center;
}
h1.pippo{
	font-family: Brush Script MT;
}
.wrapper{
	width:1200px;
	margin: auto;
}
.box{
	height: 780px;
	width: 30%;
	float: left;
	overflow: hidden;
	position: relative;
	margin: 0 20px;
}
.img1{
	position: absolute;
	z-index: 2;
	transition: .4s;
	transform-origin: 50%, 50%;
	width: 100%;
}
.img2{
	filter: blur(0px);
	transform: scale(1);
	opacity: 1;
	transition: .4s;
	width: 100%;
}
.box:hover .img1{
	filter: blur(0px);
	transform: scale (1);
	opacity: 0;
	
}
.box:hover .img2{
	filter: blur(0);
	transform: scale (1);
	opacity: 1;
	
}
.img3{
	position: absolute;
	z-index: 2;
	transition: .4s;
	transform-origin: 50%, 50%;
	width: 100%;
}
.img4{
	filter: blur(10px);
	transform: scale(1);
	opacity: 1;
	transition: .4s;
	width: 100%;
}
.box:hover .img3{
	filter: blur(10px);
	transform: scale (1);
	opacity: 0;
	
}
.box:hover .img4{
	filter: blur(0);
	transform: scale (1);
	opacity: 1;
	
}
.img5{
	position: absolute;
	z-index: 2;
	transition: .4s;
	transform-origin: 50%, 50%;
	width: 100%;
}
.img6{
	filter: blur(0px);
	transform: scale(1);
	opacity: 1;
	transition: .4s;
	width: 100%;
}
.box:hover .img5{
	filter: blur(0px);
	transform: scale (1);
	opacity: 0;
	
}
.box:hover .img6{
	filter: blur(0);
	transform: scale (1);
	opacity: 1;
	
}
/* Overlay Title start */
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  float: left;
  position: relative;
  width: 50%;
  max-width: 600px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #00ff00;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}